<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Trendify - Signup</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="icon" href="E-Commerce-logo.jpeg" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(209, 168, 123)">
      <div class="container-fluid">
        <!-- Title at the left end -->
        <a class="navbar-brand" href="#" style="color: white"
          ><img
            id="title"
            src="/title1.png"
            alt=""
            style="width: 100px; height: 30px"
        /></a>
      </div>
    </nav>
    <!-- Signup Section -->
    <div class="container mt-4">
      <div class="row" >
        <div class="col-12 text-center">
          <h2
            class="mb-4"
            style="
              text-decoration: underline;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                serif;
              font-weight: bolder;
              font-size: 35px;
            "
          >
            Signup
          </h2>
        </div>
        <div
          class="container mt-1"
          style="display: flex; justify-content: center; align-items: center"
        >
          <div
            class="Login-image"
            style="display: flex; justify-content: center; align-items: center"
          >
            <img
              class="imgLogin"
              src="E-Commerce-logo.jpeg"
              alt="E-Commerce-logo"
              style="border-radius: 50%"
            />
          </div>
        </div>
        <div
          class="col-12"
          style="display: flex; justify-content: center; align-items: center ;"
        >
          <div class="col-6">
            <form action="/signup" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  required
                />
              </div>

              <div class="d-flex justify-content-between mb-3">
                <button
                  class="btn btn-light w-100 d-flex align-items-center"
                  id="google-signin-button"
                  style="
                    border-style: solid;
                    border-color: rgb(136, 134, 134);
                    margin-right: 10px;
                  "
                >
                  <img
                    src="https://imagepng.org/wp-content/uploads/2019/08/google-icon.png"
                    class="me-2"
                    style="width: 30px"
                  />
                  Sign in with Google
                </button>
                <button
                  class="btn btn-light w-100 d-flex align-items-center"
                  style="border-style: solid; border-color: rgb(136, 134, 134)"
                  onclick="facebookLogin()"
                >
                  <div
                    style="
                      border-style: solid;
                      border-width: 1px;
                      border-color: rgb(198, 198, 198);
                      border-radius: 5px;
                      width: 200px;
                      height: 40px;
                      background-color: white;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      text-align: center;
                    "
                  >
                    <img
                      src="https://1.bp.blogspot.com/-S8HTBQqmfcs/XN0ACIRD9PI/AAAAAAAAAlo/FLhccuLdMfIFLhocRjWqsr9cVGdTN_8sgCPcBGAYYCw/s1600/f_logo_RGB-Blue_1024.png"
                      class="me-2"
                      style="width: 20px"
                    />
                    Sign in with Facebook
                  </div>
                </button>
              </div>
              <button type="submit" class="custom-btn w-100">
                Signup
              </button>
            </form>
          </div>
        </div>
        <div class="col-12 text-center mt-3">
          <p>
            Already have an account?
            <a href="/login" class="text-decoration-none">Login</a>
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="custom.js"></script>
    <script src="google-signin.js"></script>
    <script src="facebook-signin.js"></script>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js"
    ></script>
  </body>
</html>
